nav ul li a {
  color: #000;
  text-decoration: none;
}

a {
  color: #000;
}

nav ul li a:hover {
  border-bottom: 2px solid #000;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.width {
  width: 30%;
}

.btn {
  box-shadow: 2px 2px 8px #777;
}

.cat {
  overflow: hidden;
  height: 500px;
}
.gradient {
  background: linear-gradient(to right, rgba(253, 245,226,.9), rgba(253, 245,226,.1)), url('../images/cat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.text-grey {
  color: #474747;
}

.solid-bg {
  background-color: rgba(253, 245,226,.9);
}

.solid-blue-bg {
  background-color: rgba(142, 187, 188, .9);
}

.kitty {
  width: 100%;
}



@media only screen and (min-width: 60em) {

  .cat {
    height:700px;
  }

}
