nav ul li a {
  color: #000;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 2px solid #000;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.width {
  width: 30%;
}

.cat {
  overflow: hidden;
  height: 500px;
}
.gradient {
  background: linear-gradient(to right, rgba(253, 245,226,.9), rgba(253, 245,226,.1)), url('../images/cat.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

@media only screen and (min-width: 60em) {

  .cat {
    height:700px;
  }

}


.text-grey {
  color: #464646;
}
